<div class="header">
  <div class="title">Опросы</div>
  <button mat-stroked-button
          class="mat-accent"
          *ngIf="userService.isAdmin"
          (click)="goToCreateQuestionnaire()">
    Создать опрос
  </button>
</div>
<mat-card>
    <component-state [state]="state" [getData]="getQuestionnaireList">
        <mat-table [dataSource]="dataService.questionnaireList" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef> Название </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="dateStart">
                <mat-header-cell *matHeaderCellDef> Дата начала </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dateStart}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dateEnd">
              <mat-header-cell *matHeaderCellDef> Дата окончания </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.dateEnd}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button *ngIf="userService.isAdmin" (click)="$event.stopPropagation()" [matMenuTriggerFor]="menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="goToEditQuestionnaire(element.id)">
                        <mat-icon>edit</mat-icon>
                        <span>Редактировать</span>
                      </button>
                      <button mat-menu-item (click)="deleteQuestionnaire(element.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Удалить</span>
                      </button>
                    </mat-menu>
                    <mat-icon *ngIf="userService.isVerified && isDateBeforeNow(element.dateStart)" (click)="passQuestionnaire(element.id)">group_add</mat-icon>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row [class.passed]="row.status === statusEnum.Passed"
                     [class.in-progress]="row.status === statusEnum.InProgress"
                     [class.planned]="row.status === statusEnum.Planned"
                     [matTooltip]="row.status"
                     (click)="goToShowOrResultQuestionnaire(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </component-state>
</mat-card>

