<div class="title">Анкета на компетентность</div>
<mat-card>
    <component-state [state]="state" [getData]="getQuestionnaire">
        <ng-container *ngIf="expert">
            <app-questionnaire-pass-form [questions]="dataService.questions" [expertAnswers]="expert" [editable]="true"></app-questionnaire-pass-form>
        </ng-container>
        <button maapit-raised-button
                class="mat-primary pass-button"
                [disabled]="isPassButtonDisable"
                (click)="passQuestionnaire()"
        >
            Сохранить
        </button>
    </component-state>
</mat-card>
