<div class="title">Редактирование опроса</div>
<mat-card>
    <component-state [state]="state" [getData]="getQuestionnaire">
        <form [formGroup]="questionnaireForm" class="w-100">
            <div class="d-flex w-100">
                <div class="flex-1 fd-column">
                    <mat-form-field>
                        <input matInput placeholder="Название" formControlName="title">
                    </mat-form-field>
                    <app-date-picker
                            *ngIf="dataService.questionnaire?.dateStart"
                            [dateCtrl]="dateStartCtrl"
                            placeholder="Дата начала"
                    ></app-date-picker>
                  <app-date-picker
                    *ngIf="dataService.questionnaire?.dateStart"
                    [dateCtrl]="dateEndCtrl"
                    placeholder="Дата окончания"
                  ></app-date-picker>
                </div>
                <div class="flex-1 empty-flex"></div>
            </div>
        </form>
        <div class="question" *ngFor="let question of dataService.questions; let i = index">
          <div class="question-content">
            <div class="flex-1 fd-column d-flex">
              <mat-form-field>
                <input matInput placeholder="Вопрос" [(ngModel)]="question.content">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Балл" [(ngModel)]="question.pointsLimit">
              </mat-form-field>
              <mat-form-field *ngIf="!question.answers.length">
                <input matInput type="number" placeholder="Количество ответов" [(ngModel)]="question.answersCount">
              </mat-form-field>
              <button mat-button
                      *ngIf="!question.answers.length"
                      [disabled]="!(question.answersCount > 0)"
                      class="mat-accent add-answers-btn"
                      (click)="addAnswers(question)">
                Добавить ответы
              </button>
            </div>
            <div class="flex-1"></div>
          </div>
          <div class="answers">
            <div class="answer" *ngFor="let answer of question.answers">
              <div class="flex-1 align-items-center">
                <mat-form-field class="mr-20">
                  <input matInput placeholder="Ответ" [(ngModel)]="answer.content">
                </mat-form-field>
                <mat-form-field class="mr-20">
                  <input matInput placeholder="Балл" [(ngModel)]="answer.points">
                </mat-form-field>
                <button mat-icon-button class="mat-accent" *ngIf="question.answers.length" (click)="removeAnswer(question, answer)"><mat-icon>clear</mat-icon></button>
              </div>
              <div class="flex-1"></div>
            </div>
            <button mat-icon-button class="mat-accent" *ngIf="question.answers.length" (click)="addNewAnswer(question)"><mat-icon>add</mat-icon></button>
            <button mat-icon-button class="mat-accent remove-question" (click)="removeQuestion(question)"><mat-icon>clear</mat-icon></button>
            <div class="question-number">{{ i + 1 }}</div>
          </div>
        </div>

        <div class="actions">
            <button mat-raised-button class="mat-primary" [disabled]="(!hasChanges && questionnaireForm.pristine) || questionnaireForm.invalid" (click)="save()">Сохранить</button>
            <button mat-button class="cancel-btn" [disabled]="!hasChanges && questionnaireForm.pristine" (click)="cancel()">Отменить</button>
            <button mat-stroked-button class="mat-accent cancel-btn" (click)="addNewQuestion()">Добавить вопрос</button>
        </div>
    </component-state>
</mat-card>
