<div class="title">Профиль</div>
<mat-card>
    <component-state [state]="state" [getData]="getProfileInfo">
        <div class="d-flex">
            <div class="flex-1">
                <form [formGroup]="profileForm" class="d-flex fd-column">
                    <mat-form-field>
                        <input matInput
                               formControlName="email"
                               ngDefaultControl
                               type="email"
                               placeholder="Введите email">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput
                               formControlName="firstName"
                               ngDefaultControl
                               placeholder="Введите имя">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput
                               formControlName="lastName"
                               ngDefaultControl
                               placeholder="Введите фамилию">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput
                               formControlName="phone"
                               ngDefaultControl
                               placeholder="Введите номер телефона">
                    </mat-form-field>
                </form>
            </div>
            <div class="flex-1 empty-flex"></div>
        </div>

        <div class="actions mt-20">
            <button mat-raised-button
                    class="mat-primary uppercase"
                    [disabled]="profileForm.pristine || profileForm.invalid"
                    (click)="editProfileInfo()"
            >
                Сохранить
            </button>
            <button mat-button
                    class="uppercase cancel-btn"
                    [disabled]="profileForm.pristine"
                    (click)="cancel()"
            >
                Отмена
            </button>
        </div>
    </component-state>
</mat-card>
