<div class="title">Эксперты</div>
<mat-card>
    <component-state [state]="state" [getData]="getExpertList">
        <mat-table [dataSource]="dataService.expertList" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Имя </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.firstName}} {{ element.lastName }} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef>Телефон</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-icon *ngIf="userService.isAdmin && !element.isVerified" (click)="verifyUser(element.id)">verified_user</mat-icon>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row (click)="goExpert(row.id)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </component-state>
</mat-card>

